[submodule "web"]
	path = web
	url = https://github.com/OCA/web.git
[submodule "storage"]
	path = storage
	url = https://github.com/OCA/storage.git
	branch = 15.0
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/OCA/partner-contact.git
	branch = 15.0
[submodule "server-ux"]
	path = server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 15.0
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting.git
	branch = 15.0
[submodule "l10n-spain"]
	path = l10n-spain
	url = https://github.com/OCA/l10n-spain.git
	branch = 15.0
[submodule "server-tools"]
	path = server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 15.0
[submodule "community-data-files"]
	path = community-data-files
	url = https://github.com/OCA/community-data-files.git
	branch = 15.0
[submodule "connector"]
	path = connector
	url = https://github.com/OCA/connector.git
	branch = 15.0
[submodule "connector-interfaces"]
	path = connector-interfaces
	url = https://github.com/OCA/connector-interfaces.git
	branch = 15.0
[submodule "queue"]
	path = queue
	url = https://github.com/OCA/queue.git
[submodule "hr"]
	path = hr
	url = https://github.com/OCA/hr.git
	branch = 15.0
[submodule "sale-workflow"]
	path = sale-workflow
	url = https://github.com/OCA/sale-workflow.git
	branch = 15.0
